<main class="h-screen w-full bg-gradient-to-tr  from-blue-800 via-sky-400 to-blue-300">
    <div class="h-full w-full flex justify-center items-center gap-64">
        <form *ngIf="!changeForm"  [formGroup]="formulario" class="flex flex-col"  (ngSubmit)=" NgSubmit() " >
            <h1 class="text-lg font-bold tracking-widest text-gray-100">Datos de estudiante</h1>
           <div class="flex flex-col items-center gap-5 mt-5">
                <input type="text" id=""  formControlName="nombre" class="bg-stone-50 rounded-lg shadow-lg
                px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
                placeholder="ingresar un nombre">
                <input type="text" id=""  formControlName="apellidos" class="bg-stone-50 rounded-lg shadow-lg
                px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
                placeholder="Ingresa un apellido">
                <input type="text" id=""  formControlName="edad" class="bg-stone-50 rounded-lg shadow-lg
                px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
                placeholder="ingresar la edad">
                <div class="mt-5">
                    <button class="bg-gradient-to-br from-sky-400 to-emerald-700 px-5 py-5
                    rounded-xl text-white tracking-wider">Registrar</button>
                </div>
           </div>
        </form>

        <div>
            <h2
            class="text-white font-bold capitalize
            text-xl underline underline-offset-4"
            >Estudiantes Registrados</h2>

            <div class="mt-2">
                <h1 class="text-xl font-bold font-mono">Estudiantes escolares</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Edad</th>
                            <th>Escuela</th>
                        </tr>
                    </thead>
                    <tbody *ngFor=" let regStudents of studentsSchool " >
                        <tr>
                            <td>{{ regStudents.nombre }}</td>
                            <td>{{ regStudents.apellidos }}</td>
                            <td>{{ regStudents.edad }}</td>
                            <td>{{ regStudents.escuela }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <app-formulario-universitario *ngIf="isStudentUniversity"  
        [nombre]="formulario.get('nombre')?.value"
        [apellidos]=" formulario.get('apellidos')?.value " 
        [edad]="formulario.get('edad')?.value" />
        <app-formulario-escuela *ngIf=" isStudentSchool " 
        [nombre]="formulario.get('nombre')?.value"
        [apellidos]=" formulario.get('apellidos')?.value " 
        [edad]="formulario.get('edad')?.value" />
    </div>
</main>