<div class="h-full w-full">
    <form class="flex flex-col"  [formGroup]="_form" >
        <h1 class="text-lg font-bold tracking-widest text-gray-100">Datos de estudiante Universitario</h1>
        <div class="flex flex-col items-center gap-5 mt-5">
            <input type="text" id=""  formControlName="nombre" class="bg-stone-50 rounded-lg shadow-lg
            px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="ingresar un nombre">
            <input type="text" id=""  formControlName="apellidos" class="bg-stone-50 rounded-lg shadow-lg
            px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="Ingresa un apellido">
            <input type="text" id=""  formControlName="edad" class="bg-stone-50 rounded-lg shadow-lg
            px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="ingresar la edad">
            <input type="text" id=""  formControlName="universidad" class="bg-stone-50 rounded-lg shadow-lg
            px-2 py-2 outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="Ingresar la universidad">
        </div>
        <div class="mt-5">
            <button class="bg-gradient-to-br from-sky-400 to-emerald-700 px-5 py-5
            rounded-xl text-white tracking-wider">Registrar</button>
        </div>
    </form>
</div>